
p.s_i{
    color:rgb(117, 42, 42);
    text-transform:uppercase;
    font-size:xx-large;
    font-weight:500;
    text-align: center;

}

h4{    
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom:30px;
    font-weight: normal;
    text-align: center;
}

form{
    border: 2px solid rgb(165, 165, 165);
    display: block;
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
    margin-top: 50px;
    padding: 30px 20px;
    width: 340px;
    border-radius: 20px;		
}	

h5{
    text-align: left;
    margin-left:10px;
    text-decoration: none;
}

 input[type="email"], input[type="password"]{
    background: none;
    display: block;
    margin: 3px auto 25px;
    text-align: left;
    border: 2px solid #2887c7;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color:rgb(0, 0, 0);
    border-radius: 50px;
    transition: 0.25s;
}

input[type="submit"]{
    border: 0;
    background: #995555;
    display: block;
    margin: 40px auto 20px;
    text-align: center;
    border: 2px solid #8b2929;
    padding: 5px 10px;
    width: 300px;
    outline: none;
    color:rgb(0, 0, 0);
    border-radius: 50px;
    transition: 0.25s;
    cursor:pointer;
}

input[type="submit"]:hover{
    background-color: #771e34;
    color: white;
}

div.form-group>button{
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 50px;
}

div.form-group>a{
    text-decoration: none;
    font-size: smaller;
    margin-left: 190px

}

p.c_new{
    text-align: center;
    margin-top:15px;
}

