/* navbar*/
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
.navbar{
    /* background: #131313; */
    background: #1f0e38;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item{
    height: 80px;
}
.navbar__links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s easeS;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #7b4397;  
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397); 
    background: linear-gradient(to right, #dc2430, #7b4397); 

    color: white;
    transition: all 0.3s ease;
    text-decoration: none;
}
.navbar__links:hover{
    color: #9518fc;
    transition: all 0.3s ease;
}
@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        
    }
    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: -1;
       
    }
    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 70vh; /* mobile menu height */
        font-size: 1.6rem;
        
    }

    #navbar__logo{
        padding-left: 25px;

    }
    .navbar__toggle .bar{
        width: 25px;
        height: 4px;
        margin: 6px auto;
        transition: all 0.3 ease-in-out;
        background: white;
    }
    .navbar__item{
        width: 100%;
        height: 15px;
    }
    .navbar__links{
        text-align: center;
        padding: 1rem; /*change 2 to 1 rem*/
        width: 100%;
        display: table;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }
    .navbar__toggle:hover .bar:nth-child(2){
        transform: translateX(-8px) ;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

}
/*hero section*/
.main{
    background-color: #a11a3b;
    padding: 3.3rem 0;
}
.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}
.main__content{
    color: white;
    width: 100%;
}

.main__content h1{
    color: white;
    font-size: 4.5rem;
    font-family: Roboto Condensed;
}
.main__content p{
    margin-top: 3rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    font-family: Mukta;
}
.main__content h6{
    margin-top: 1rem;
    font-size: 1rem;
    color: white;
}
.main__img--container{
    text-align: center;
}

.main__img--card{
    margin: 10px;
    height: 400px;
    width: 400px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to right, #1f0e38 0%,#1f0e38);
    align-items: center;
}
.kenburns-right{
    width: 12rem;
    height: 12rem;
    
} 

  .scale-in-center {
	animation: scale-in-center 0.8s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes scale-in-center {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  } 
  .kenburns-right {
	-webkit-animation: kenburns-right 0.8s ease-out 0.2s both;
	        animation: kenburns-right 0.8s ease-out 0.2s both;
}
@-webkit-keyframes kenburns-right {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
              transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 84% 50%;
              transform-origin: 84% 50%;
    }
    100% {
      -webkit-transform: scale(1.25) translateX(20px);
              transform: scale(1.25) translateX(20px);
      -webkit-transform-origin: right;
              transform-origin: right;
    }
  }
  @keyframes kenburns-right {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
              transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 84% 50%;
              transform-origin: 84% 50%;
    }
    100% {
      -webkit-transform: scale(1.25) translateX(20px);
              transform: scale(1.25) translateX(20px);
      -webkit-transform-origin: right;
              transform-origin: right;
    }
  }

/* Hero section mobile responsive part */
@media screen and (max-width: 1100px) {
    .main__container{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;

    }
    .main__img--container{
        display: flex;
        justify-content: center;
    }
    .main__img--card{
        height: 425px;
        width: 425px;
    }
    .main__content{
        text-align: center;
        margin-bottom: 4rem;
    }
    .main__content h1{
        font-size: 3rem;
        margin-top: 2rem;
    }
    .main__content p{
        font-size: 2rem;
    }
    .main__content h2{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 480px){
    .main__img--card{
        width: 250px;
        height: 250px;
    }
    .img-2{
        font-size: 4rem;
    }
    .main__content h1{
        font-size: 3rem;
        margin-top: 2rem;
    }
    .main__content p{
        font-size: 2rem;
    }
    .main__content h2{
        margin-top: 1rem;
    }
}

/* Targets intro section */
.targets{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
    }
.targets h1{
    font-family: Roboto Condensed;
    margin-bottom: 5rem;
    font-size: 2.3rem;
}
.targets__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.targets__card{
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to right, #1f0e38 0%,#1f0e38);
    transition: 0.3s ease-in;
}
.targets__card h2{
    text-align: center;
}

.targets__card p {
    text-align: center;
    margin-top: 24px;
    font-size: 17px;
}

.targets__button{
    display: flex;
    justify-content: center;
    margin-top: 16px;

}

.targets__card button{
    color: white;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #a11a3b;
    font-size: 1rem;
}
.targets__card button:hover{
    cursor: pointer;
}

.targets__card:hover{
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}
